.owner .profil {
    margin-top: -70px;
}

.message_error {
    width: 560px;
    position: absolute;
    top: 19%;
    z-index: 999;
    left: 35%;
    text-align: center;
}

.profile_page_photo {
    width: 100%;
    height: 300px;
}

#profil {
    text-align: center;
}

.link-music{
    color: inherit;
    transition: 0.2s;
}

.link-music:hover {
    color: #05ae0e;
}

.play {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play:focus {
    outline: none;
}