body {
    margin: 0;
}
h1 {
    animation-delay: 0.3s;
}
h2 {
    animation-delay: 0.5s;
}

.tree {
    width: 10%;
    height: 10%;
}

section.container-fluid {
    margin: 85px auto;
    margin-bottom: 0;
    padding: 40px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 120%;
}

div.flexItem p {
    font-size: 2em;
    padding: 0 20px;    
    padding-top: 35px;
}
.vinyl {
    background-image: url('../img/backG/vinyl.jpg');
    height: 900px;
}
span i {
    font-size: 15em;
}

.img-circle {
    width: 30%;
    margin: 0 27%;
    
}
.centerImg {
    margin-left: 25px;
}

.container-top {
    margin-top: 100px;
}

.dropdown-menu {
    background-color: #FFF;
    border: 0 none;
}

.select2-selection__choice {
    background-color: #51cbce !important;
    color: white !important;
}

.dropdown-menu .dropdown-item:first-child a, .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu .dropdown-item:last-child a, .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar .navbar-nav .dropdown-menu {
    border-radius: 6px;
    margin-top: 1px;
}

a button.btn.btn-success.btn-round{
    color: white;
    font-weight: bold;
    padding: 10px;
}

.rock {
    font-family: Bangers;
    font-size: 3.5em;
}
.rock2 {
    font-family: Bangers;
    font-size: 8em;
}
.description {
    font-family: Roboto;
    font-size: 2.6em;
}
.theRock {
    width: 334px;
    height: 151px; 
    margin: 0;
}
.containerFlex {
    display: flex;
    
}
.musicM {
    font-weight: bold;
}

.profile {
    font-family: Indie Flower;
    font-size: 1.4em;
    
}
.fat{
    font-weight: bold;
    font-size: 1.8em;
    display: inline;
}

.list-group.profile{
    display: inline;
}

.badge.badge-primary{
    vertical-align: 0.2em;
}

span.fat.applepie{
    font-family: Courgette;
}

div.row.info{
    margin-top:30px;
}

.btn.btn-success.fat a, .btn.btn-danger.fat a{
    color: inherit;
}

.row.infos li{
    list-style-type: none;
    margin-bottom: 10px;
}

.col-sm-4.col-xs-12, .offset-sm-1.col-sm-6.col-xs-12{
    display: inline-block;
}

.col-sm-4.col-xs-12{
    margin-left: 10%;
}

.nav.nav-tabs{
    margin-bottom: 2em;
}

@media (min-width:576px){
/*    i.fa.fa-play-circle.fa-2x {
        margin-left: 25px;
    }
    
    i.fa.fa-pause-circle.fa-2x {
        margin-left: 25px;
    }*/
    
    .image{
        margin-right: 25px;
    }
    
    .lien_spotify{
        margin-left: 0;
    }

    .col-md-7 h6{
        margin-left: 25px;
    }
    
    .playbutton{
        margin-left: 20px;
    }
}

@media (max-width:768px){
    li div{
        display: inline;
    }
    
    col-md-1.col-xs-1.offset-md-0, col-md-1.col-xs-1.mt-3.text-center, col-md-7.col-xs-2, col-md-1.col-xs-2.offset-1, col-md-1.col-xs-2 {
        display: inline;
    }

    .image, .playbutton{
        width: 15%;
    }
    
    .track{
        width: 40%;
    }
    
    .lien_spotify{
        width: 10%;
        padding-top: 1em;
    }
    
    .library{
        width: 5%;
        padding-top: 1em;
    }
    
    .playbutton{
        margin-left: 0;
    }
    
    #image_accueil, #texte_accueil{
        width: 100%;
    }
    
    .nav-tabs-navigation{
        font-size: 0.6em;
        width: 100%;
    }
    
    .tab-content.following{
    margin-top: 3em;
    }
    
    
    .nav.nav-tabs .nav-item a{
        font-size: 0.5em;
    }

}

@media (max-width:575px){
    .image{
        width: 100%;
        margin-bottom: 1.5em;
    }
    
    body{
        font-size: 0.6em;
    }
}