body {
    margin: 0;
}
h1 {
    animation-delay: 0.3s;
}
h2 {
    animation-delay: 0.5s;
}

.tree {
    width: 10%;
    height: 10%;
}

section.container-fluid {
    margin: 40px auto;
    margin-bottom: 0;
    padding: 40px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 120%;
}

div.flexItem p {
    font-size: 2em;
    padding: 0 20px;    
    padding-top: 35px;
}
.vinyl {
    background-image: url('../img/backG/vinyl.jpg');
    height: 900px;
}
span i {
    font-size: 15em;
}

.img-circle {
    width: 30%;
    margin: 0 27%;
    
}
.centerImg {
    margin-left: 25px;
}

.container-top {
    margin-top: 100px;
}

.dropdown-menu {
    background-color: #FFF;
    border: 0 none;
}

.select2-selection__choice {
    background-color: #51cbce !important;
    color: white !important;
}

.dropdown-menu .dropdown-item:first-child a, .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-menu .dropdown-item:last-child a, .dropdown-menu .dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar .navbar-nav .dropdown-menu {
    border-radius: 6px;
    margin-top: 1px;
}

a button.btn.btn-success.btn-round{
    color: white;
    font-weight: bold;
    padding: 10px;
}

/*body {
background: #ECE9E6;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #FFFFFF, #ECE9E6);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

}*/

@media (min-width:576px){
/*    i.fa.fa-play-circle.fa-2x {
        margin-left: 25px;
    }
    
    i.fa.fa-pause-circle.fa-2x {
        margin-left: 25px;
    }*/
    
    .image{
        margin-right: 25px;
    }
    
    .lien_spotify{
        margin-left: 0;
    }

    .col-md-7 h6{
        margin-left: 25px;
    }
    
    .playbutton{
        margin-left: 20px;
    }
}

@media (max-width:768px){
    li div{
        display: inline;
    }
    
    col-md-1.col-xs-1.offset-md-0, col-md-1.col-xs-1.mt-3.text-center, col-md-7.col-xs-2, col-md-1.col-xs-2.offset-1, col-md-1.col-xs-2 {
        display: inline;
    }

    .image, .playbutton{
        width: 15%;
    }
    
    .track{
        width: 40%;
    }
    
    .lien_spotify{
        width: 10%;
        padding-top: 1em;
    }
    
    .library{
        width: 5%;
        padding-top: 1em;
    }
    
    .playbutton{
        margin-left: 0;
    }
}

@media (max-width:575px){
    .image{
        width: 100%;
        margin-bottom: 1.5em;
    }
    
/*    .row{
        width: 100%;
    }
    
    .wrapper, .page-header, .container{
    width: 100% !important;
}*/

}