{% extends "layout_user.html.twig" %}

{% block title 'profile' %}

{% block content %}
    <div class="container container-top">
        <form>
            <div class="form-group">
                <label>Pseudo</label>
                <input type ="text" value="{{profile.username}}">
            </div>

            <div class="form-group">
                <label>Mot de passe</label>
                <input type ="text" value="">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type ="text" value="{{profile.email}}">
            </div>

            <div class="form-group">
                <label>Photo de profil</label><br>
                <img src="{{profile.picture}}" alt="Profile Picture"><br>
                <input type="file" value="">
            </div>
            
            <div class="form-group">
                <label>Les styles que vous recherchez (séparés par des virgules)</label>
                <input type="text" value="">
            </div>
            
            
            
            <div class="form-group">
                <input type ="submit" class="btn btn-primary" value="Valider vos modifications">
            </div>
            
            
        <a href="{{ path('display', {username: profile.username}) }}">Annuler et retourner vers votre profil</a>
  
        </form>
    </div>
{% endblock %}
